.menu
{
    grid-column: 3/4;
}

.menu_list
{
    display: grid;
    grid-auto-flow: column;
    justify-items: end;

    list-style: none;
}

.menu_list_item
{
    width: 100%;
}

.menu_list_item:last-child
{
    border-right: 1px solid #2c71b8;

}

.menu_link
{
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    font-size: 21px;
    border-left: 1px solid #2c71b8;
}

.menu_link:hover
{
    background-color: #2c71b8;
    color: #ffffff;
    transition: .2s linear;
}

.menu_link:not(hover)
{
    transition: .2s linear;
}